@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Libre+Barcode+39+Extended+Text");
body {
  background-color: #010101;
  color: #fff;
  font-family: 'Fira Mono', monospace;
  /* Mini Reset */ }
  body a {
    text-decoration: none;
    color: inherit; }
  body ul li {
    list-style: none; }
  body h6 {
    padding: 0;
    margin: 0; }

.time-container {
  font-size: .75em;
  text-align: right; }
  .time-container .dateTime {
    font-size: .5rem; }

header {
  width: 45vw;
  margin: 0 auto;
  text-align: center; }
  header h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    color: #04D15C;
    font-size: 5em;
    font-weight: lighter; }

.search-container {
  width: 45vw;
  margin: 0 auto;
  text-align: center; }
  .search-container .search {
    background-color: #4F4F4F;
    color: #000;
    padding: 2vh 2vw;
    border-radius: 2px;
    text-align: center;
    border: 0px solid #010101;
    box-shadow: -2px 2px 0px #fff; }

.links {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25vh;
  padding-top: 5vh;
  font-size: 1rem; }
  .links ul {
    margin-left: 15vw; }

.notes .noteLeft {
  width: 45vw; }

.weather {
  display: grid;
  grid-template-columns: 12.5vw  12.5vw  12.5vw  12.5vw  12.5vw;
  grid-template-rows: 50vh; }
  .weather .cTemp {
    font-size: 5rem; }
  .weather .cWind, .weather .cRain {
    font-size: 1.5rem;
    font-weight: bold; }
  .weather .cWind, .weather .cRain, .weather .cTemp {
    -webkit-text-stroke: 1px black; }
  .weather .card, .weather .fcard {
    margin: 3vh 3vw;
    border-radius: 3px;
    border: 2px solid #333;
    width: 15vw;
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat; }
