@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Libre+Barcode+39+Extended+Text');

body {
  background-color: #010101;
  color: #fff;
  font-family: 'Fira Mono', monospace;

  /* Mini Reset */
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    li {
      list-style: none;
    }
  }
  h6 {
    padding: 0;
    margin: 0;
  }
  
}
.time-container {
  font-size: .75em;
  text-align: right;
  
  .dateTime {
    font-size: .5rem;
  }
}
header {
  width: 45vw;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    color: #04D15C;
    font-size: 5em;
    font-weight: lighter;
  }
} 

.search-container {
  width: 45vw;
  margin: 0 auto;
  text-align: center;

  .search {
    background-color: #4F4F4F;
    color: #000;
    padding: 1vh 1vw;
    height: 2rem;
    width: 35vw;
    border-radius: 2px;
    text-align: center;
    border: 0px solid #010101; 
  }
}

.links {
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5%;
  grid-template-rows: 25vh;
  padding-top: 5vh;
  
  font-size: 1rem;
  ul {
    margin-left: 15vw;
  }
}

@media (max-width: 950px) and (min-width: 700px) {
  .links {
    padding-left: 0;
    grid-template-columns: 33.3% 33.3% 33.3%;

    ul{
      margin-left: 5vw;
    }
  }
}

@media (max-width: 699px) and (min-width: 300px) {
  .links{
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding-left: 0;
    
    ul {
      margin-left: 3vw;
    }
  }
}

